nav {
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

    .wizard{
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    a {
      
        text-decoration: none;
        color: #390E65;
    }
}

