* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
 background-color:  #1D1B1B;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px;
 //color: blue;
}

//Color pallete : 3d3d3d mid gray 333333 slightly darker 292929 slightly darker #1D1B1B almost black